@import url(./normalize.css);

:root {
  /* Primary */
  --primary-Bright-orange: hsl(31, 77%, 52%);
  --primary-Dark-cyan: hsl(184, 100%, 22%);
  --primary-Very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral  first for paragraph and second for background, heading, buttons*/

  --neutral-Transparent-white: hsla(0, 0%, 100%, 0.75);
  --neutral-Very-light-gray: hsl(0, 0%, 95%);

  /* Font Family */

  --lexend-deca: "Lexend Deca", sans-serif;
  --big-shoulders: "Big Shoulders Display", sans-serif;

  /* Img Margin */

  --img-margin: 3.5rem;

  /* Car Margin */

  --car-title-margin: 0 3.5rem 3.5rem 3.5rem;

  /* DESCRIPTION */
  --width-width: 70%;
  --description-margin: 0 0 3.5rem 3.5rem;

  /* Button*/

  --margin-button: 0 3.5rem 3.5rem 3.5rem;
  --border-radius: 50px;
  --width-button: 50%;
  --padding-button: 1rem;
  --border-button: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 15px;
  background: var(--neutral-Very-light-gray);
}

/* Sedan Card */

.sedan-card {
  margin: 2rem 2rem 0 2rem;
  border-radius: 5px 5px 0 0;
  background: var(--primary-Bright-orange);
}

.sedan-img {
  margin: var(--img-margin);
}

.sedan-car-title {
  margin: var(--car-title-margin);
  color: var(--neutral-Very-light-gray);
  font-family: var(--big-shoulders);
}

.sedan-car-description {
  color: var(--neutral-Transparent-white);
  margin: var(--description-margin);
  padding-right: 1rem;
  font-family: var(--lexend-deca);
  width: var(--width-width);
}

.sedan-btn {
  margin: var(--margin-button);
  padding: var(--padding-button);
  border: var(--border-button);
  border-radius: var(--border-radius);
  width: var(--width-button);
  color: var(--primary-Bright-orange);
  cursor: pointer;
  font-family: var(--lexend-deca);
}

.sedan-btn:hover {
  border: 2px solid var(--neutral-Transparent-white);
  background: var(--primary-Bright-orange);
  color: var(--neutral-Transparent-white);
}

/* Suv Card */

.suv-card {
  background: var(--primary-Dark-cyan);
  margin: 0 2rem 0 2rem;
}

.suv-img {
  margin: var(--img-margin);
}

.suv-car-title {
  font-family: var(--big-shoulders);
  margin: var(--car-title-margin);
  color: var(--neutral-Very-light-gray);
}

.suv-car-description {
  width: var(--width-width);
  padding-right: 1rem;
  margin: var(--description-margin);
  font-family: var(--lexend-deca);
  color: var(--neutral-Transparent-white);
}

.suv-btn {
  border-radius: var(--border-radius);
  margin: var(--margin-button);
  padding: var(--padding-button);
  border: var(--border-button);
  width: var(--width-button);
  color: var(--primary-Dark-cyan);
  cursor: pointer;
  font-family: var(--lexend-deca);
}

.suv-btn:hover {
  background: var(--primary-Dark-cyan);
  color: var(--neutral-Transparent-white);
  border: 2px solid var(--neutral-Transparent-white);
}
